{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index | blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <ul>
        <h1>SELAMAT DATANG DI BLOG</h1>
        <h2>blokku kegemaranku</h2>
        <h3>gambar dibawah ini indahkan</h3>
        <img src="{% static 'blog/img/img2.jpg'%}" alt="">
        <li><a href="/" title="">HOME</a></li>
        <li><a href="/blog/" title="">BLOG</a></li>
        <li><a href="https://www.djangoproject.com/">WEB Django</a></li>

    </ul>
</body>

</html>