{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index | home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <img src="{% static 'img/img1.jpg'%}" alt="">
    <h1>Tampilan Home</h1>
    <h2>Mayke Andani Rohamniar</h2>
    <h3>1204021</h3>
    <ul>
        <li><a href="/" title="">HOME</a></li>
        <li><a href="/blog/" title="">BLOG</a></li>
        <li><a href="https://www.djangoproject.com/">WEB DJANGO</a></li>

    </ul>
</body>

</html>